<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">
    
   <xacro:include filename="robot_core.xacro" />
   <xacro:include filename="gazebo_control.xacro" />
   <xacro:include filename="inertial_macros.xacro" />
   <xacro:include filename="robot_control.urdf.xacro" />
   <!-- <xacro:include filename="lidar.xacro" />   -->
   <xacro:include filename="lower_arm_transmission.xacro" />
   <xacro:include filename="gripper_hand_left_transmission.xacro" />
   <xacro:include filename="gripper_hand_right_transmission.xacro" />

   <ros2_control name = "GazeboSimSystem" type= "system">
      <hardware>
         <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
      <xacro:lower_arm_transmission/>
      <xacro:gripper_hand_left_transmission/>
      <xacro:gripper_hand_right_transmission/> 
   </ros2_control>
   <xacro:robot_controller/>  
</robot>
